.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}

.ex-10-icon {
    font-size: 60px;
}
.ex-11-icon {
    font-size: 60px;
}
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

/* solved */

.ex-1-square:hover{
    background-color: red;
    transition: background-color 3s;
}

.ex-2-square:active{
    transform: scale(1.2);
    transition: transform 2s;
}

.ex-3-square:hover{
    border-radius: 50%;
    transition: border-radius 2s;
}

.ex-4-square:hover{
    opacity: 0;
    transition: opacity 2s;
}

.ex-5-square:hover{
    transform: scale(1.2);
    transition: transform 2s;
}

.ex-5-square:active{
    transform: scale(0.7);
    transition: transform 2s;
}

.ex-6-img:hover{
    filter: grayscale();
}

.ex-7-img:hover{
    transition: filter 3s;
    filter: blur(10px) sepia();
}

.ex-8-img:hover{
    border-radius: 15rem;
    filter: blur(1px) sepia();
    transition-timing-function: linear;
    transition: filter 5s;
    transition: border-radius 3s;

}

.ex-9-img:hover{
    transform: scale(1.5);
    border-radius: 50%;
    filter: saturate(1) invert();
    transition: filter 5s border-radius 3s width 4s;
}

.ex-10-icon{
    animation: fa_spin 1s linear infinite
}

@keyframes fa_spin {
    0% {
      rotate: 0deg;
    }
  
    100% {
      rotate: 360deg;
    }
}
/* the keyframes name is just for fun */


.ex-11-icon:hover{
    animation: close_full_spin 1.5s ease infinite
}

@keyframes close_full_spin{
    0% {
        rotate: 0deg;
    }

    75% {
        rotate: 270deg;
    }

    100% {
        rotate: 0deg;
    }
}

.ex-12-top-white {
    animation: move_top 2s linear infinite;
}
@keyframes move_top {
    0% {
        left: 10%;
        top: -10px;
    }
    50% {
        left: calc(100% - 60px);
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}

.ex-12-bottom-white {
    animation: move_bottom 2s linear infinite;
}
@keyframes move_bottom {
    0% {
        right: 20%;
        bottom: -10px;
    }
    50% {
        right: calc(100% - 60px);
        bottom: -10px;
    }
    100% {
        right: 20%;
        bottom: -10px;
    }
}

.ex-13-top-white {
    animation: move_top_full 3s linear infinite;
}
@keyframes move_top_full {
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: calc(100% - 30px);
        top: -10px;
    }
    45% {
        left: calc(100% - 30px);
        top: 100%;
    }
    80% {
        left: 0;
        top: 100%;
    }
    95% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}

.ex-13-bottom-white {
    animation: move_bottom_full 3s linear infinite;
}
@keyframes move_bottom_full {
    0% {
        right: 20%;
        bottom: -10px;
    }
    25% {
        right: calc(100% - 40px);
        bottom: -10px;
    }
    40% {
        right: calc(100% - 40px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -30px;
        bottom: -10px;
    }
    100% {
        right: 20%;
        bottom: -10px;
    }
}

/* io ho provato a fargli fare il giro completo allo stesso tempo ma non penso mi riesca più di tanto, non capisco come rapportare il valore percentile del "progresso" del keyframes con i vari spostamenti di blocchi */